.App {
  display: flex;
}

.board {
  display: flex;
}

.row {
  flex-flow: row;
}

.liveCell {
  background-color: aquamarine;
}

.diedCell {
  background-color: gray;
}

.liveCell,
.diedCell {
  width: 4px;
  height: 4px;
}

.sideMenu {
  display: flex;
  flex-flow: column;
  width: 200px;
  padding: 20px;
}

.resetButton {
  margin-bottom: 20px;
  padding: 10px;
}
